<div class="card text-bg-dark mb-3" *ngIf="pelicula">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="'https://image.tmdb.org/t/p/w400/'+pelicula.poster_path" class="rounded-start img-fluid">
      <div class="text-center mt-2">

        <!-- Boton para abrir pàgina de detalles -->
        <!-- Decirle al padre que abra la pagina detalle de la pelicula  que en el card-->
        <a class="btn btn-primary" (click)="irADetalle()">Ver detalles</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{pelicula.title}}</h4>
        <p class="card-text">{{pelicula.overview}}</p>
        <p class="card-text"><small class="text-muted">{{pelicula.release_date}}</small></p>
      </div>
      </div>
    </div>

  </div>

